/* Reset de estilos generales */
* {
  box-sizing: border-box; 
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #52b176;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #52b176;
  padding: 10px 20px;
}

.logo {
  height: 50px;
  cursor: pointer; 
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .icon {
  width: 40px;
  height: 30px; 
  border-radius: 50%;
  margin-right: 10px;
}

.user-info .font {
  font-size: 14px;
  font-weight: bold;
  color: #1b1a1a;
}

/* Contenido principal */
.content-area {
  display: flex;
  flex-grow: 1; 
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
}

/* Contenedor de formularios */
.form-container {
  background-color: #2f8a55;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  margin: 20px;
}

/* Espacio entre campos del formulario */
.form-group {
  margin-bottom: 15px; /* Aumenta el espacio entre los campos */
}

/* Estilo uniforme para los campos de formulario */
select, input[type="text"], input[type="date"], .campoHora, textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 100%;
}

/* Campo de hora específico */
.campoHora {
  width: 100%; /* Se ajusta al 100% del contenedor */
}

/* Lista de turnos */
.turnos-list {
  max-height: 400px; 
  overflow-y: auto; 
}

.turno {
  background-color: #e1f5e1;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.turno:hover {
  background-color: #c8e6c9; 
}

.detalles-turno {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #1d5e38;
  border-radius: 5px;
}

.footer {
  background-color: #52b176;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  margin-top: auto; 
}

/* Botones */
.btn-aceptar,
.btn-cancelar {
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.btn-aceptar {
  background-color: #2d9e30; 
  color: white; 
}

.btn-aceptar:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}

.btn-aceptar:hover:not(:disabled) {
  background-color: #215323; 
}

.btn-cancelar {
  background-color: #ac271e; 
  color: white; 
  margin-left: 10px; 
}

.btn-cancelar:hover {
  background-color: #8a0f0d; 
}

/* Contenedor para alinear los botones */
.button-group {
  display: flex;
  justify-content: space-between; /* Espacio entre botones */
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info {
    justify-content: flex-end; 
    width: 100%;
  }

  .form-container {
    max-width: 100%; 
  }

  .content-area {
    flex-direction: column; 
    align-items: center; 
  }
}

.btn-cerrarsesion {
  background-color: #29b664;
  color: white;
  padding: 10px 20px;
  border: bold;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.font {
  margin-right: 10px; 
}
