<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lilita+One&display=swap" rel="stylesheet">

<div class="navbar">
  <div class="logo">
    <img src="assets/imagenes/logoClinic.PNG" class="logo" (click)="home()" />
  </div>
  <ul class="menu">
    <li><a href="#">Solicitar Turnos</a></li>
    <li><a href="#">Mis Turnos</a></li>
    <li><a href="#">Modificar Datos Personales</a></li>
  </ul>
  <div class="user-info">
    <img src="assets/imagenes/user.PNG" alt="icon" class="icon"/>
    <span class="font">Nombre usuario</span>
  </div>
</div>

<div class="content-area">
  <!-- contenido de cada sección -->
</div>
