/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 150px; 
}

.logo-title {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.logo-title p {
  font-family: 'Lilita One', sans-serif;
  font-size: 20px; 
  margin: 0;
  padding-bottom: 10px; 
}

.logo {
  width: 150px; 
  height: auto;
  cursor: pointer;
}

.info-icon {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

header div *ngIf {
  display: flex;
  align-items: center;
  gap: 10px;
} */
