
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lilita+One&display=swap" rel="stylesheet">

<body>
  <div class="login-container">
      <img src="assets/imagenes/logoClinic.PNG" class="logo" alt="Logo" (click)="home()"/>
      <form>
          <label for="username" class="lexend-uniquifier">Usuario</label>
          <input type="text" id="username" name="username" required>

          <label for="password" class="lexend-uniquifier">Contraseña</label>
          <input type="password" id="password" name="password" required>

          <button type="submit" class="lexend-uniquifier">Iniciar sesión</button>
          <button type="button" class="lexend-uniquifier">Cancelar</button>
      </form>
  </div>
</body>
