/* Estilos generales para el body y el html */
html, body {
  height: 100%; 
  margin: 0; 
}

/* Estilos para el contenedor principal */
.main-container {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
}

/* Estilos para el footer */
.footer {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center; 
  padding: 10px; 
  background-color: #3ead5a; 
  font-size: 10px;
  margin-top: auto; 
}

.footer p {
  margin: 0 15px;
}

.social-links {
  display: flex; 
}

.social-links a {
  display: flex; 
  align-items: center; 
  margin-left: 10px;
  text-decoration: none; 
  color: #212723; 
}

.social-icon {
  width: 24px; 
  height: 24px; 
  margin-right: 5px; 
}

.social-links a:hover {
  text-decoration: underline; 
}
