<footer class="footer">
  <p>
    <img src="assets/imagenes/hogar.png" alt="Dirección" class="social-icon">
    Dirección: Calle Ficticia 123, Ciudad</p>
  <p>
    <img src="assets/imagenes/phone.PNG" alt="Teléfono" class="social-icon"> 
    Teléfono: (123) 456-7890</p>
  <p>
    <img src="assets/imagenes/gmail.png" alt="Gmail" class="social-icon">
    Gmail: contactoclinicavirtual</p>

  <div class="social-links">
      <a href="#">
          <img src="assets/imagenes/fb.png" alt="Facebook" class="social-icon"> Facebook
      </a>
      <a href="#">
          <img src="assets/imagenes/instg.png" alt="Instagram" class="social-icon"> Instagram
      </a>
      <a href="#">
          <img src="assets/imagenes/wsp.png" alt="WhatsApp" class="social-icon"> WhatsApp
      </a>
  </div>
</footer>