<div class="home-container">
  <div class="welcome-section">
    <h2 class="lilita-one-regular">Bienvenido a</h2>
    <h1 class="lilita-one-regular">Clínica Virtual</h1>
  </div>

  <div class="professionals-section">
    <h3 class="lilita-one-regular">Nuestros Profesionales</h3>

    <div class="professional-card">
      <img [src]="professionals[currentProfessionalIndex].image" 
           [alt]="professionals[currentProfessionalIndex].name" 
           class="professional-image">
      <div class="professional-info">
        <p>
          <strong>
            Mi nombre es {{ professionals[currentProfessionalIndex].name }}, 
            tengo {{ professionals[currentProfessionalIndex].age }} años 
            y soy {{ professionals[currentProfessionalIndex].specialty }}.
          </strong>
        </p>
        <p>
          {{ professionals[currentProfessionalIndex].description }}
        </p>
      </div>
    </div>

    <div class="pagination">
      <button class="prev" (click)="previousProfessional()">&lt; Previous</button>
      <button class="page-number">{{ currentProfessionalIndex + 1 }}</button>
      <button class="next" (click)="nextProfessional()">Next &gt;</button>
    </div>

    <div class="auth-buttons">
      <button class="login"  routerLink="/login" >Iniciar sesión</button>
      <button class="register" routerLink="/register">Registrarse</button>
    </div>
  </div>
</div>
